<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <title>Crisp</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="links">
                <a href="index.html" class="logo">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 44">
                        <path stroke="#fff" stroke-width="3" d="M1.5 10.5h82v32h-82z" />
                        <path
                            d="M20.105 35.22c-1.68 0-2.873-.467-3.58-1.4-.693-.947-1.04-2.28-1.04-4v-5.78c0-1.773.347-3.12 1.04-4.04.694-.92 1.887-1.38 3.58-1.38 1.587 0 2.714.4 3.38 1.2.667.8 1 1.953 1 3.46v1.36h-2.84v-1.4c0-.573-.026-1.02-.08-1.34a1.302 1.302 0 0 0-.42-.8c-.213-.213-.553-.32-1.02-.32-.48 0-.84.113-1.08.34-.24.213-.4.507-.48.88-.066.36-.1.833-.1 1.42v7.02c0 .92.12 1.587.36 2 .24.4.674.6 1.3.6.454 0 .787-.107 1-.32.227-.213.367-.493.42-.84.067-.36.1-.833.1-1.42V29h2.84v1.3c0 1.56-.326 2.773-.98 3.64-.653.853-1.786 1.28-3.4 1.28Zm8.441-16.42h3.9c1.707 0 2.98.327 3.82.98.84.64 1.26 1.747 1.26 3.32 0 1.027-.153 1.867-.46 2.52-.293.64-.806 1.107-1.54 1.4l2.26 7.98h-2.96l-1.94-7.42h-1.4V35h-2.94V18.8Zm3.88 6.94c.84 0 1.433-.193 1.78-.58.36-.387.54-1.02.54-1.9 0-.853-.16-1.473-.48-1.86-.306-.387-.866-.58-1.68-.58h-1.1v4.92h.94Zm9.411-6.94h2.92V35h-2.92V18.8Zm11.508 16.42c-1.467 0-2.567-.413-3.3-1.24-.72-.827-1.113-2.06-1.18-3.7l2.54-.5c.04 1.027.2 1.813.48 2.36.293.533.747.8 1.36.8.453 0 .787-.133 1-.4.227-.28.34-.653.34-1.12 0-.64-.147-1.18-.44-1.62-.28-.453-.727-.947-1.34-1.48l-2.04-1.78c-.627-.533-1.1-1.107-1.42-1.72-.307-.613-.46-1.347-.46-2.2 0-1.267.367-2.247 1.1-2.94.747-.707 1.773-1.06 3.08-1.06 1.4 0 2.4.4 3 1.2.613.787.967 1.853 1.06 3.2l-2.54.44c-.04-.88-.167-1.54-.38-1.98-.2-.453-.6-.68-1.2-.68-.427 0-.76.147-1 .44-.24.28-.36.64-.36 1.08 0 .52.1.96.3 1.32.213.347.553.72 1.02 1.12l2.02 1.78c.76.653 1.353 1.353 1.78 2.1.427.747.64 1.613.64 2.6 0 .773-.173 1.46-.52 2.06a3.635 3.635 0 0 1-1.42 1.42c-.613.333-1.32.5-2.12.5Zm7.803-16.42h4.76c2.76 0 4.14 1.533 4.14 4.6 0 2.933-1.447 4.4-4.34 4.4h-1.62V35h-2.94V18.8Zm4.08 6.92c.8 0 1.34-.167 1.62-.5.28-.347.42-.96.42-1.84 0-.64-.047-1.127-.14-1.46a1.242 1.242 0 0 0-.58-.78c-.28-.173-.72-.26-1.32-.26h-1.14v4.84h1.14Z"
                            fill="#fff" />
                        <path d="M89.5 38v-4.5h3v-32h-82v3h-4" stroke="#fff" stroke-width="3" />
                    </svg>
                </a>
                <nav class="navigation">
                    <a href="#">home</a>
                    <a href="#">shop</a>
                    <a href="#">blog</a>
                    <a href="#">sale</a>
                    <a href="#">contact us</a>
                    <a href="#" class="search">
                        <div class="search-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" fill="none">
                                <circle cx="6.15385" cy="6.15385" r="4.95385" stroke="white" stroke-width="2.4" />
                                <path d="M11.4872 11.4871L16 15.9999" stroke="white" stroke-width="2.4" />
                            </svg>
                        </div>
                        <span>search</span>
                    </a>
                </nav>
                <div class="account">
                    <a href="#">sign in</a>
                    <a href="#">create an account</a>
                    <a href="#" class="favorites">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22" fill="none">
                            <path
                                d="M10.7096 18.9029L11.5 19.5949L12.2904 18.9029L13.5212 17.8254L13.5229 17.8239L13.561 17.7907C15.7089 15.9176 17.5897 14.2775 18.9222 12.7097C20.2744 11.1187 21.2 9.44687 21.2 7.49591C21.2 4.26214 18.5597 1.8 15.325 1.8C13.9256 1.8 12.5737 2.2769 11.5 3.08132C10.4263 2.2769 9.07441 1.8 7.675 1.8C4.44032 1.8 1.8 4.26214 1.8 7.49591C1.8 9.44687 2.7256 11.1187 4.07783 12.7097C5.41031 14.2774 7.29114 15.9176 9.43903 17.7907L9.47705 17.8239L9.4788 17.8254L10.7096 18.9029Z"
                                stroke="white" stroke-width="2.4" />
                        </svg>
                    </a>
                    <a href="#" class="cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" fill="none">
                            <path d="M1.27266 20.8L2.13149 6.2H15.8685L16.7273 20.8H1.27266Z" stroke="white"
                                stroke-width="2.4" />
                            <path d="M5 5V3C5 2.44772 5.44772 2 6 2H12C12.5523 2 13 2.44772 13 3V5" stroke="white"
                                stroke-width="2.4" />
                        </svg>
                        <div class="cart-text">
                            <span class="cart-title">Shopping cart</span>
                            <span class="cart-price">0,00 EUR</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="banner">
                <div class="main-heading">
                    <h1>summer sale get 30% off on all beer.</h1>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="brand-wrap">
                <div class="brand-border">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1880 200" fill="none">
                        <path d="M756 1H1V199H1879V1H1125" stroke="#C4C4C4" stroke-width="2" />
                    </svg>
                </div>
                <span>choose your brand</span>
                <div class="brands">
                    {% include "/components/brands.twig" %}
                </div>
            </div>
            <div class="offers">
                <div class="offer-left">
                    <div class="offer1">
                        <div class="offer-text">
                            <h2>choosе your look</h2>
                            <span>See our clothing collections</span>
                            <a href="#" class="shop-btn">Shop now</a>
                        </div>
                    </div>
                    <div class="offer2">
                        <div class="offer-text">
                            <h2>brand new style</h2>
                            <span>Popular clothing brands</span>
                            <a href="#" class="shop-btn">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="offer3">
                    <div class="offer-text">
                        <h2>Up to 40% off</h2>
                        <span>Special offers and great deals</span>
                        <a href="#" class="shop-btn">Shop now</a>
                    </div>
                </div>

            </div>
            <div class="products-wrapper">
                <div class="products-sorter">
                    <span>Shop Some Wear:</span>
                    <div class="best-sellers-checkbox checkbox">
                        <input type="checkbox">
                        <label for="best-sellers">best sellers</label>
                    </div>
                    <div class="new-arivals-checkbox checkbox">
                        <input type="checkbox">
                        <label for="new-arivals-checkbox">new arivals</label>
                    </div>
                    <div class="top-beer-checkbox checkbox">
                        <input type="checkbox">
                        <label for="top-beer-checkbox">top beer</label>
                    </div>
                </div>
                <div class="product-card-wrap">
                    <div class="product-card">
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                    </div>
                    <button class="load-more">load more</button>
                </div>
            </div>
            <div class="seperator">
                <div class="seperator-text">

                    <h2>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603 102" fill="none">
                            <path d="M0 1H602V101.5" stroke="black" stroke-width="2" />
                        </svg>
                        shoping without limits.
                    </h2>
                    <p>
                        You can choose the best option for you, and it does not matter whether you are in Prague or
                        San
                        Francisco. We will deliver your purchase anywhere!
                    </p>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="specials-wrapper">
                <div class="featured">
                    <h3>Featured Items</h3>
                    <div class="product-card">
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                    </div>
                </div>
                <div class="most-popular">
                    <h3>Most Popular</h3>
                    <div class="product-card">
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                    </div>
                </div>
            </div>

            <div class="seperator2">
                <img src="/images/seperator2.png" width="1060" height="363">
                <div class="seperator2-text">
                    <h2>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 627 116"
                            fill="none">
                            <path d="M0 1H626V115.5" stroke="black" stroke-width="2" />
                        </svg>
                        Explore the best of you.
                    </h2>
                    <p>You can choose the best option for you, and it does not matter whether you are in
                        Prague or San
                        Francisco.</p>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="blog-wrapper">
                <h2>Blog</h2>
                <div class="blog">
                    {% include "/components/articles.twig" %}
                    {% include "/components/articles.twig" %}
                    {% include "/components/articles.twig" %}
                    {% include "/components/articles.twig" %}
                </div>
            </div>
            <div class="benefits">
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                            <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                        </svg>
                    </span>
                    Duties and Taxes Guaranteed
                </p>
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                            <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                        </svg>
                    </span>
                    Free Express Shipping
                </p>
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                            <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                        </svg>
                    </span>
                    Customer Love
                </p>
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                            <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                        </svg>
                    </span>
                    Easy Returns
                </p>
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                            <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                        </svg>
                    </span>
                    Secure Payment
                </p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-links">
                <a href="index.html" class="logo">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 44">
                        <path stroke="#fff" stroke-width="3" d="M1.5 10.5h82v32h-82z" />
                        <path
                            d="M20.105 35.22c-1.68 0-2.873-.467-3.58-1.4-.693-.947-1.04-2.28-1.04-4v-5.78c0-1.773.347-3.12 1.04-4.04.694-.92 1.887-1.38 3.58-1.38 1.587 0 2.714.4 3.38 1.2.667.8 1 1.953 1 3.46v1.36h-2.84v-1.4c0-.573-.026-1.02-.08-1.34a1.302 1.302 0 0 0-.42-.8c-.213-.213-.553-.32-1.02-.32-.48 0-.84.113-1.08.34-.24.213-.4.507-.48.88-.066.36-.1.833-.1 1.42v7.02c0 .92.12 1.587.36 2 .24.4.674.6 1.3.6.454 0 .787-.107 1-.32.227-.213.367-.493.42-.84.067-.36.1-.833.1-1.42V29h2.84v1.3c0 1.56-.326 2.773-.98 3.64-.653.853-1.786 1.28-3.4 1.28Zm8.441-16.42h3.9c1.707 0 2.98.327 3.82.98.84.64 1.26 1.747 1.26 3.32 0 1.027-.153 1.867-.46 2.52-.293.64-.806 1.107-1.54 1.4l2.26 7.98h-2.96l-1.94-7.42h-1.4V35h-2.94V18.8Zm3.88 6.94c.84 0 1.433-.193 1.78-.58.36-.387.54-1.02.54-1.9 0-.853-.16-1.473-.48-1.86-.306-.387-.866-.58-1.68-.58h-1.1v4.92h.94Zm9.411-6.94h2.92V35h-2.92V18.8Zm11.508 16.42c-1.467 0-2.567-.413-3.3-1.24-.72-.827-1.113-2.06-1.18-3.7l2.54-.5c.04 1.027.2 1.813.48 2.36.293.533.747.8 1.36.8.453 0 .787-.133 1-.4.227-.28.34-.653.34-1.12 0-.64-.147-1.18-.44-1.62-.28-.453-.727-.947-1.34-1.48l-2.04-1.78c-.627-.533-1.1-1.107-1.42-1.72-.307-.613-.46-1.347-.46-2.2 0-1.267.367-2.247 1.1-2.94.747-.707 1.773-1.06 3.08-1.06 1.4 0 2.4.4 3 1.2.613.787.967 1.853 1.06 3.2l-2.54.44c-.04-.88-.167-1.54-.38-1.98-.2-.453-.6-.68-1.2-.68-.427 0-.76.147-1 .44-.24.28-.36.64-.36 1.08 0 .52.1.96.3 1.32.213.347.553.72 1.02 1.12l2.02 1.78c.76.653 1.353 1.353 1.78 2.1.427.747.64 1.613.64 2.6 0 .773-.173 1.46-.52 2.06a3.635 3.635 0 0 1-1.42 1.42c-.613.333-1.32.5-2.12.5Zm7.803-16.42h4.76c2.76 0 4.14 1.533 4.14 4.6 0 2.933-1.447 4.4-4.34 4.4h-1.62V35h-2.94V18.8Zm4.08 6.92c.8 0 1.34-.167 1.62-.5.28-.347.42-.96.42-1.84 0-.64-.047-1.127-.14-1.46a1.242 1.242 0 0 0-.58-.78c-.28-.173-.72-.26-1.32-.26h-1.14v4.84h1.14Z"
                            fill="#fff" />
                        <path d="M89.5 38v-4.5h3v-32h-82v3h-4" stroke="#fff" stroke-width="3" />
                    </svg>
                </a>
                <div class="features">
                    <span>features</span>
                    <ul>
                        <li><a href="#">men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">boys</a></li>
                        <li><a href="#">girls</a></li>
                        <li><a href="#">new arrivals</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">clothes</a></li>
                        <li><a href="#">accessories</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <span>menu</span>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">my account</a></li>
                        <li><a href="#">orders history</a></li>
                        <li><a href="#">MY WISHLIST</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">LOGIN</a></li>
                    </ul>
                </div>
                <div class="contact-us">
                    <span>contact-us</span>
                    <ul>
                        <li>
                            <span>Address:</span>
                            <a href="#">123 STREET NAME, CITY, ENGLAND</a>
                        </li>
                        <li>
                            <span>Phone:</span>
                            <a href="tel:">(123) 456-7890</a>
                        </li>
                        <li>
                            <span>email:</span>
                            <a href="mailto:">MAIL@EXAMPLE.COM</a>
                        </li>
                        <li>
                            <span>working days/hours</span>
                            <a href="#">MON - SUN / 9:00AM - 8:00PM</a>
                        </li>
                    </ul>
                </div>
                <div class="follow-us">
                    <span>follow us</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 0V21H21V0H0ZM13.8925 5.77925H12.2511C11.926 5.77925 11.5979 6.11525 11.5979 6.36522V8.03894H13.8893C13.797 9.32234 13.6076 10.4959 13.6076 10.4959H11.5861V17.7692H8.57386V10.4952H7.10751V8.04766H8.57386V6.04662C8.57386 5.68071 8.49974 3.23082 11.6603 3.23082H13.8925V5.77925H13.8925Z"
                                        fill="white" />
                                </svg>
                                facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 0V21H21V0H0ZM16.2808 7.53503C16.2865 7.66302 16.2894 7.79169 16.2894 7.92088C16.2894 11.8626 13.2893 16.4075 7.80295 16.4075C6.11852 16.4075 4.55068 15.9138 3.23072 15.0673C3.46408 15.095 3.70145 15.1092 3.94228 15.1092C5.33972 15.1092 6.6258 14.6323 7.64668 13.8322C6.34145 13.8082 5.23985 12.9458 4.86023 11.7608C5.04245 11.7957 5.22932 11.8145 5.42151 11.8145C5.69354 11.8145 5.95708 11.7778 6.20737 11.7098C4.84292 11.4357 3.81471 10.2302 3.81471 8.78511C3.81471 8.77251 3.81471 8.76 3.81498 8.74754C4.21708 8.97092 4.67695 9.10514 5.16595 9.12065C4.36555 8.58577 3.83912 7.67275 3.83912 6.63803C3.83912 6.09134 3.98622 5.57903 4.24302 5.1384C5.71408 6.94306 7.91192 8.13046 10.3908 8.25498C10.3399 8.03658 10.3134 7.80891 10.3134 7.57518C10.3134 5.92805 11.649 4.59258 13.2962 4.59258C14.1541 4.59258 14.9293 4.95475 15.4734 5.5344C16.1527 5.40078 16.7911 5.15243 17.3675 4.81066C17.1448 5.50722 16.6719 6.09162 16.056 6.46085C16.6594 6.38871 17.2342 6.22832 17.7691 5.99109C17.3694 6.5892 16.8637 7.11457 16.2808 7.53503Z"
                                        fill="white" />
                                </svg>
                                twitter
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" fill="none">
                                    <path
                                        d="M3.82933 21H17.1723H18.3073H21.0006V18.3063V17.6161V3.38399V2.69324V0H18.3073H17.1723H3.82933H2.69434H0.000823975V2.69324V3.38422V17.616V18.3063V21H2.69407H3.82933V21ZM14.3563 3.28109C14.3563 3.02582 14.4472 2.80538 14.6298 2.61775C14.8119 2.43136 15.035 2.3379 15.2997 2.3379H17.6786C17.9428 2.3379 18.1661 2.43132 18.3485 2.61775C18.5307 2.80511 18.622 3.02582 18.622 3.28109V5.53693C18.622 5.80117 18.5307 6.02493 18.3485 6.20664C18.1661 6.38928 17.9428 6.48012 17.6786 6.48012H15.2995C15.035 6.48012 14.8117 6.38928 14.6296 6.20664C14.4471 6.02497 14.3561 5.80117 14.3561 5.53693V3.28109H14.3563ZM13.5016 8.37238C14.3263 9.16981 14.7388 10.1336 14.7388 11.2636C14.7388 12.3942 14.3263 13.3581 13.5016 14.1551C12.6765 14.953 11.6808 15.3514 10.5143 15.3514C9.35659 15.3514 8.36562 14.953 7.54075 14.1551C6.71561 13.3584 6.30352 12.3944 6.30352 11.2636C6.30352 10.1336 6.71584 9.16957 7.54075 8.37238C8.36562 7.57491 9.35682 7.17608 10.5143 7.17608C11.681 7.17608 12.6765 7.57518 13.5016 8.37238ZM5.64637 3.28109C5.64637 3.02582 5.7372 2.80538 5.91984 2.61775C6.10198 2.43136 6.32532 2.3379 6.58979 2.3379H7.09059C7.35483 2.3379 7.57813 2.43132 7.76054 2.61775C7.94291 2.80511 8.03401 3.02582 8.03401 3.28109V5.53693C8.03401 5.80117 7.94294 6.02493 7.76054 6.20664C7.57813 6.38928 7.35483 6.48012 7.09059 6.48012H6.58979C6.32532 6.48012 6.10198 6.38928 5.91984 6.20664C5.73747 6.02497 5.64637 5.80117 5.64637 5.53693V3.28109ZM2.33876 3.28109C2.33876 3.02582 2.42983 2.80538 2.61224 2.61775C2.79437 2.43136 3.01748 2.3379 3.28218 2.3379H3.78298C4.04722 2.3379 4.27052 2.43132 4.45293 2.61775C4.6353 2.80511 4.72641 3.02582 4.72641 3.28109V5.53693C4.72641 5.80117 4.63534 6.02493 4.45293 6.20664C4.27052 6.38928 4.04722 6.48012 3.78298 6.48012H3.28218C3.01772 6.48012 2.79437 6.38928 2.61224 6.20664C2.42987 6.02497 2.33876 5.80117 2.33876 5.53693V3.28109ZM2.33876 18.2826V9.42318H4.2665C4.0841 9.99731 3.99303 10.5949 3.99303 11.2144C3.99303 12.964 4.63082 14.4572 5.90705 15.6918C7.18305 16.9267 8.7188 17.5438 10.5145 17.5438C11.6992 17.5438 12.7929 17.2619 13.7957 16.6962C14.7982 16.1318 15.5912 15.3632 16.1745 14.3928C16.7577 13.422 17.0494 12.3625 17.0494 11.2142C17.0494 10.5946 16.9583 9.99708 16.7759 9.42295H18.6215V18.2827C18.6215 18.5197 18.5395 18.718 18.3755 18.8771C18.2116 19.0373 18.0155 19.1163 17.7877 19.1163H3.17264C2.93561 19.1163 2.73736 19.0373 2.57791 18.8771C2.41847 18.7179 2.33876 18.5197 2.33876 18.2826Z"
                                        fill="white" />
                                </svg>
                                instagram
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="join-us">
                    <span>join us</span>
                    <div class="subscribe">
                        <label for="email">Subscribe to our newsletters</label>
                        <input type="email" class="email" name="email" placeholder="Email Adress">
                        <button class="email-btn">subscribe!</button>
                    </div>
                </div>
            </div>
            <span class="credits">© 2019. Crisp theme Developed by Belvg</span>
        </div>
    </footer>
    <script src="/src/main.js" type="module"></script>
</body>

</html>