<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <title>Crisp</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="links">
                <a href="index.html" class="logo">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 44">
                        <path stroke="#fff" stroke-width="3" d="M1.5 10.5h82v32h-82z" />
                        <path
                            d="M20.105 35.22c-1.68 0-2.873-.467-3.58-1.4-.693-.947-1.04-2.28-1.04-4v-5.78c0-1.773.347-3.12 1.04-4.04.694-.92 1.887-1.38 3.58-1.38 1.587 0 2.714.4 3.38 1.2.667.8 1 1.953 1 3.46v1.36h-2.84v-1.4c0-.573-.026-1.02-.08-1.34a1.302 1.302 0 0 0-.42-.8c-.213-.213-.553-.32-1.02-.32-.48 0-.84.113-1.08.34-.24.213-.4.507-.48.88-.066.36-.1.833-.1 1.42v7.02c0 .92.12 1.587.36 2 .24.4.674.6 1.3.6.454 0 .787-.107 1-.32.227-.213.367-.493.42-.84.067-.36.1-.833.1-1.42V29h2.84v1.3c0 1.56-.326 2.773-.98 3.64-.653.853-1.786 1.28-3.4 1.28Zm8.441-16.42h3.9c1.707 0 2.98.327 3.82.98.84.64 1.26 1.747 1.26 3.32 0 1.027-.153 1.867-.46 2.52-.293.64-.806 1.107-1.54 1.4l2.26 7.98h-2.96l-1.94-7.42h-1.4V35h-2.94V18.8Zm3.88 6.94c.84 0 1.433-.193 1.78-.58.36-.387.54-1.02.54-1.9 0-.853-.16-1.473-.48-1.86-.306-.387-.866-.58-1.68-.58h-1.1v4.92h.94Zm9.411-6.94h2.92V35h-2.92V18.8Zm11.508 16.42c-1.467 0-2.567-.413-3.3-1.24-.72-.827-1.113-2.06-1.18-3.7l2.54-.5c.04 1.027.2 1.813.48 2.36.293.533.747.8 1.36.8.453 0 .787-.133 1-.4.227-.28.34-.653.34-1.12 0-.64-.147-1.18-.44-1.62-.28-.453-.727-.947-1.34-1.48l-2.04-1.78c-.627-.533-1.1-1.107-1.42-1.72-.307-.613-.46-1.347-.46-2.2 0-1.267.367-2.247 1.1-2.94.747-.707 1.773-1.06 3.08-1.06 1.4 0 2.4.4 3 1.2.613.787.967 1.853 1.06 3.2l-2.54.44c-.04-.88-.167-1.54-.38-1.98-.2-.453-.6-.68-1.2-.68-.427 0-.76.147-1 .44-.24.28-.36.64-.36 1.08 0 .52.1.96.3 1.32.213.347.553.72 1.02 1.12l2.02 1.78c.76.653 1.353 1.353 1.78 2.1.427.747.64 1.613.64 2.6 0 .773-.173 1.46-.52 2.06a3.635 3.635 0 0 1-1.42 1.42c-.613.333-1.32.5-2.12.5Zm7.803-16.42h4.76c2.76 0 4.14 1.533 4.14 4.6 0 2.933-1.447 4.4-4.34 4.4h-1.62V35h-2.94V18.8Zm4.08 6.92c.8 0 1.34-.167 1.62-.5.28-.347.42-.96.42-1.84 0-.64-.047-1.127-.14-1.46a1.242 1.242 0 0 0-.58-.78c-.28-.173-.72-.26-1.32-.26h-1.14v4.84h1.14Z"
                            fill="#fff" />
                        <path d="M89.5 38v-4.5h3v-32h-82v3h-4" stroke="#fff" stroke-width="3" />
                    </svg>
                </a>
                <nav class="navigation">
                    <a href="#">home</a>
                    <a href="#">shop</a>
                    <a href="#">blog</a>
                    <a href="#">sale</a>
                    <a href="#">contact us</a>
                    <a href="#" class="search">
                        <div class="search-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" fill="none">
                                <circle cx="6.15385" cy="6.15385" r="4.95385" stroke="white" stroke-width="2.4" />
                                <path d="M11.4872 11.4871L16 15.9999" stroke="white" stroke-width="2.4" />
                            </svg>
                        </div>
                        <span>search</span>
                    </a>
                </nav>
                <div class="account">
                    <a href="#">sign in</a>
                    <a href="#">create an account</a>
                    <a href="#" class="favorites">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22" fill="none">
                            <path
                                d="M10.7096 18.9029L11.5 19.5949L12.2904 18.9029L13.5212 17.8254L13.5229 17.8239L13.561 17.7907C15.7089 15.9176 17.5897 14.2775 18.9222 12.7097C20.2744 11.1187 21.2 9.44687 21.2 7.49591C21.2 4.26214 18.5597 1.8 15.325 1.8C13.9256 1.8 12.5737 2.2769 11.5 3.08132C10.4263 2.2769 9.07441 1.8 7.675 1.8C4.44032 1.8 1.8 4.26214 1.8 7.49591C1.8 9.44687 2.7256 11.1187 4.07783 12.7097C5.41031 14.2774 7.29114 15.9176 9.43903 17.7907L9.47705 17.8239L9.4788 17.8254L10.7096 18.9029Z"
                                stroke="white" stroke-width="2.4" />
                        </svg>
                    </a>
                    <a href="#" class="cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" fill="none">
                            <path d="M1.27266 20.8L2.13149 6.2H15.8685L16.7273 20.8H1.27266Z" stroke="white"
                                stroke-width="2.4" />
                            <path d="M5 5V3C5 2.44772 5.44772 2 6 2H12C12.5523 2 13 2.44772 13 3V5" stroke="white"
                                stroke-width="2.4" />
                        </svg>
                        <div class="cart-text">
                            <span class="cart-title">Shopping cart</span>
                            <span class="cart-price">0,00 EUR</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="banner">
                <div class="main-heading">
                    <h1>summer sale get 30% off on all beer.</h1>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="brand-wrap">
                <div class="brand-border">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1880 200" fill="none">
                        <path d="M756 1H1V199H1879V1H1125" stroke="#C4C4C4" stroke-width="2" />
                    </svg>
                </div>
                <span>choose your brand</span>
                <div class="brands">
                    {% include "/components/brands.twig" %}
                </div>
            </div>
            <div class="offers">
                <div class="offer-left">
                    <div class="offer1">
                        <h2>choosе your look</h2>
                        <span>See our clothing collections</span>
                        <a href="#" class="shop-btn">Shop now</a>
                    </div>
                    <div class="offer2">
                        <h2>brand new style</h2>
                        <span>Popular clothing brands</span>
                        <a href="#" class="shop-btn">Shop now</a>
                    </div>
                </div>
                <div class="offer3">
                    <h2>Up to 40% off</h2>
                    <span>Special offers and great deals</span>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>

            </div>
            <div class="products-wrapper">
                <div class="products-sorter">
                    <span>Brands:</span>
                    <div class="best-sellers-checkbox">
                        <input type="checkbox">
                        <label for="best-sellers">best sellers</label>
                    </div>
                    <div class="new-arivals-checkbox">
                        <input type="checkbox">
                        <label for="new-arivals-checkbox">new arivals</label>
                    </div>
                    <div class="top-beer-checkbox">
                        <input type="checkbox">
                        <label for="top-beer-checkbox">top beer</label>
                    </div>
                </div>
                <div class="product-card-wrap">
                    <div class="product-card">
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                    </div>
                    <button class="load-more">load more</button>
                </div>
            </div>
            <div class="seperator">
                <div class="seperator-text">
                    <h2>shoping without limits.</h2>
                    <p>
                        You can choose the best option for you, and it does not matter whether you are in Prague or
                        San
                        Francisco. We will deliver your purchase anywhere!
                    </p>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="specials-wrapper">
                <div class="featured">
                    <h3>Featured Items</h3>
                    <div class="product-card">
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                    </div>
                </div>
                <div class="most-popular">
                    <h3>Most Popular</h3>
                    <div class="product-card">
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                        {% include "/components/product-card.twig" %}
                    </div>
                </div>
            </div>

            <div class="seperator2">
                <img src="images/seperator2.png">
                <div class="seperator2-text">
                    <h2>Explore the best of you.</h2>
                    <p>You can choose the best option for you, and it does not matter whether you are in
                        Prague or San
                        Francisco.</p>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="blog-wrapper">
                <h2>Blog</h2>
                <div class="blog">
                    {% include "/components/articles.twig" %}
                    {% include "/components/articles.twig" %}
                    {% include "/components/articles.twig" %}
                    {% include "/components/articles.twig" %}
                </div>
            </div>
            <div class="benefits">
            <p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                    </svg>
                </span>
                Duties and Taxes Guaranteed
            </p>
            <p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                    </svg>
                </span>
                Free Express Shipping
            </p>
            <p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                    </svg>
                </span>
                Customer Love
            </p>
            <p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                    </svg>
                </span>
                Easy Returns
            </p>
            <p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <path d="M8 14.6L13.25 20L22 11" stroke="black" stroke-width="2" />
                    </svg>
                </span>
                Secure Payment
            </p>
        </div>
    </div>
    </main>
    <footer class="footer">
        <div class="container">
            <a href="index.html" class="logo">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 44">
                    <path stroke="#fff" stroke-width="3" d="M1.5 10.5h82v32h-82z" />
                    <path
                    d="M20.105 35.22c-1.68 0-2.873-.467-3.58-1.4-.693-.947-1.04-2.28-1.04-4v-5.78c0-1.773.347-3.12 1.04-4.04.694-.92 1.887-1.38 3.58-1.38 1.587 0 2.714.4 3.38 1.2.667.8 1 1.953 1 3.46v1.36h-2.84v-1.4c0-.573-.026-1.02-.08-1.34a1.302 1.302 0 0 0-.42-.8c-.213-.213-.553-.32-1.02-.32-.48 0-.84.113-1.08.34-.24.213-.4.507-.48.88-.066.36-.1.833-.1 1.42v7.02c0 .92.12 1.587.36 2 .24.4.674.6 1.3.6.454 0 .787-.107 1-.32.227-.213.367-.493.42-.84.067-.36.1-.833.1-1.42V29h2.84v1.3c0 1.56-.326 2.773-.98 3.64-.653.853-1.786 1.28-3.4 1.28Zm8.441-16.42h3.9c1.707 0 2.98.327 3.82.98.84.64 1.26 1.747 1.26 3.32 0 1.027-.153 1.867-.46 2.52-.293.64-.806 1.107-1.54 1.4l2.26 7.98h-2.96l-1.94-7.42h-1.4V35h-2.94V18.8Zm3.88 6.94c.84 0 1.433-.193 1.78-.58.36-.387.54-1.02.54-1.9 0-.853-.16-1.473-.48-1.86-.306-.387-.866-.58-1.68-.58h-1.1v4.92h.94Zm9.411-6.94h2.92V35h-2.92V18.8Zm11.508 16.42c-1.467 0-2.567-.413-3.3-1.24-.72-.827-1.113-2.06-1.18-3.7l2.54-.5c.04 1.027.2 1.813.48 2.36.293.533.747.8 1.36.8.453 0 .787-.133 1-.4.227-.28.34-.653.34-1.12 0-.64-.147-1.18-.44-1.62-.28-.453-.727-.947-1.34-1.48l-2.04-1.78c-.627-.533-1.1-1.107-1.42-1.72-.307-.613-.46-1.347-.46-2.2 0-1.267.367-2.247 1.1-2.94.747-.707 1.773-1.06 3.08-1.06 1.4 0 2.4.4 3 1.2.613.787.967 1.853 1.06 3.2l-2.54.44c-.04-.88-.167-1.54-.38-1.98-.2-.453-.6-.68-1.2-.68-.427 0-.76.147-1 .44-.24.28-.36.64-.36 1.08 0 .52.1.96.3 1.32.213.347.553.72 1.02 1.12l2.02 1.78c.76.653 1.353 1.353 1.78 2.1.427.747.64 1.613.64 2.6 0 .773-.173 1.46-.52 2.06a3.635 3.635 0 0 1-1.42 1.42c-.613.333-1.32.5-2.12.5Zm7.803-16.42h4.76c2.76 0 4.14 1.533 4.14 4.6 0 2.933-1.447 4.4-4.34 4.4h-1.62V35h-2.94V18.8Zm4.08 6.92c.8 0 1.34-.167 1.62-.5.28-.347.42-.96.42-1.84 0-.64-.047-1.127-.14-1.46a1.242 1.242 0 0 0-.58-.78c-.28-.173-.72-.26-1.32-.26h-1.14v4.84h1.14Z"
                    fill="#fff" />
                    <path d="M89.5 38v-4.5h3v-32h-82v3h-4" stroke="#fff" stroke-width="3" />
                </svg>
            </a>
            <div class="features">
                <span>features</span>
            </div>
            <div class="menu">
                <span>menu</span>
            </div>
            <div class="contact us">
                <span>contact-us</span>
            </div>
            <div class="follow us">
                <span>follow-us</span>
            </div>
            <div class="join us">
                <span>join us</span>
            </div>
        </div>
    </footer>
    <script src="/src/main.js" type="module"></script>
</body>

</html>