<a href="#" class="article">
    <span class="article-type">Comment</span>
    <span class="article-heading"></span>
    <p class="article-text">
    </p>
    <span class="article-credits"></span>
</a>