<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>

<body>
        <a href="#" class="article">
            <span class="article-type">Comment</span>
            <span class="article-heading"></span>
            <p class="article-text">
            </p>
            <span class="article-credits"></span>
        </a>
</body>

</html>