.product-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.3125rem;
    margin-left: -1.625rem;

    @media(min-width:75rem) {
        row-gap: 2.6875rem;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin-left: 1.625rem;
        width: calc(100%/2 - 1.625rem);

        @media(min-width:75rem) {
            width: calc(100%/4 - 1.625rem);
        }

        .brand,
        .name,
        .price {
            max-width: fit-content;
        }

        .product-image {
            width: 100%;
        }

        .brand {
            color: $color-light-gray;
            font-size: 0.625rem;
            font-weight: 600;
            text-transform: uppercase;

            @media(min-width: 75rem) {
                font-size: 0.75rem;
                padding-top: 0.875rem;
            }
        }


        .name {
            color: $color-black;
            font-size: 0.75rem;
            font-weight: 300;

            @media(min-width: 75rem) {
                font-size: 1.125rem;
            }
        }

        .price {
            font-size: 0.875rem;
            font-weight: 500;
            padding-top: 0.625rem;

            @media(min-width: 75rem) {
                font-size: 1.375rem;
            }
        }
    }

}