.product {
    font-family: Oswald;
    color: #000;
}

ul {
    list-style: none;
}

.product li:nth-of-type(2) {
    color: #BDBDBD;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 0.87rem;
}

.product a {
    color: #000;
    font-size: 1.125rem;
    font-weight: 300;
}

.product li:nth-of-type(4) {
    font-size: 1.375rem;
    font-weight: 500;
    padding-top: 0.6rem;
}