<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="product">
        <a href="#"><img src="/images/product sample.png" width="344" height="450" loading="lazy"></a>
        <a href="#" class="brand">TOP women</a>
        <a href="#" class="name">Angels malu zip jeans slim black used</a>
        <span class="price">139,00 EUR</span>
    </div>
</body>

</html>