<div class="product-card">
    <div class="product">
        <a href="#"><img src="" alt="Product image" class="product-image" width="344" height="450" loading="lazy"></a>
        <a href="#" class="brand"></a>
        <a href="#" class="name"></a>
        <span class="price"></span>
    </div>
</div>