
.product-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.62rem;
    row-gap: 2.7rem;
    .product {
        display: flex;
        flex-direction: column;
    
        .brand,
        .name,
        .price {
            width: fit-content;
        }
    
        .brand {
            color: $color-light-gray;
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: 0.87rem;
        }
    
    
        .name {
            color: $color-black;
            font-size: 1.125rem;
            font-weight: 300;
        }
    
        .price {
            font-size: 1.375rem;
            font-weight: 500;
            padding-top: 0.6rem;
        }
    }
}