<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swiper</title>
</head>

<body>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/images/background.png);">
                <div class="main-heading">
                    <h1>summer sale get 30% off on all beer.</h1>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/images/seperator1.png);">
                <div class="main-heading">
                    <h1>sujeeeeeeeee.</h1>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/images/seperator2.png);">
                <div class="main-heading">
                    <h1>jeet.</h1>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/images/offer3.jpg);">
                <div class="main-heading">
                    <h1>mlg.</h1>
                    <a href="#" class="shop-btn">Shop now</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-buttons">
            <div class="swiper-button-prev">
            </div>
            <div class="swiper-button-next">
            </div>
        </div>
    </div>
</body>

</html>