.swiper {
    .swiper-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;

        @media(min-width:75rem) {
            margin-top: 1.3125rem;
            justify-content: flex-start;
        }

        .shop-btn {
            font-size: 0.875rem;
            padding: 0.75rem 1.5rem;
            font-weight: 500;

            @media(min-width: 75rem) {
                font-size: 1.125rem;
                padding: 1rem 2.8125rem;
                font-weight: 600;
            }
        }

        .main-heading {
            padding: 16rem 0 5rem 0;
            font-weight: 600;
            line-height: 1.08;
            text-transform: uppercase;
            font-size: 1rem;
            max-width: 17rem;
            text-align: center;

            @media(min-width:75rem) {
                max-width: 47rem;
                padding: 12.75rem 0 12.75rem 14.625rem;
                font-size: 2.8125rem;
                text-align: justify;
            }

            h1 {
                padding-bottom: 1rem;

                @media(min-width: 75rem) {
                    padding-bottom: 2.3125rem;
                }
            }
        }
    }
}


.swiper-pagination {
    display: flex;
    position: absolute;
    justify-content: center;
    padding-bottom: 1.125rem;
    
    @media(min-width:75rem) {
        justify-content: flex-start;
        padding: 1.5rem;
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        width: 1rem;
        height: 1rem;
        background: none;
        border: 0.125rem solid $color-medium-grey;
        transition: 0.3s all;

        @media(min-width: 75rem) {
            width: 1.1875rem;
            height: 1.1875rem;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: $color-black;
        transform: scale(1.2);
        border-color: $color-black;
    }
}

.button-wrap {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0.5rem 0.875rem;
    width: 100%;
    justify-content: space-between;

    @media(min-width: 75rem) {
        gap: 0.1875rem;
        padding: 0;
        justify-content: end;
    }

    .swiper-button-next,
    .swiper-button-prev {
        cursor: pointer;
        max-width: 2.5625rem;

        @media(min-width: 75rem) {
            max-width: 3.125rem;
            max-height: 3.125rem;
        }
    }
}