* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
a,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 120rem;
    padding: 0 1.31rem;
}

.header {
    background-color: #000;
    text-transform: uppercase;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 2.94rem 0;
}

.links a {
    color: white;
    font-size: 0.875rem;
    ;
}

.navigation,
.account {
    display: flex;
}

.logo {
    width: 5.5rem;
    position: relative;
    font-family: Oswald;
    font-size: 1.25rem;
    justify-content: center;
}

.stack {
    position: absolute;
}

.cart a {
    font-size: 0.75rem;
}

.banner {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 1.31rem;
}

.main-heading {
    padding: 12.75rem 0 12.75rem 14.62rem;
    font-weight: 600;
    line-height: 6rem;
    font-family: Oswald;
    text-transform: uppercase;
    max-width: 47rem;
    font-size: 2.8rem;
}
.shop-btn{
    color: #000;
    font-size: 1.125rem;
    letter-spacing: 0.031rem;
    border: 2px solid #000;
    padding: 0.8rem 2.8rem;
}
.brands{
    padding: 1.75rem 0.7rem;
    display: flex;
    justify-content: space-between;

}
.brands a{
    width:14.69rem;
    transition: 0.3s background-color;
}
.brands a:hover{
    background-color: #F0F2F2;
}