* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Oswald;
}

h1,
h2,
h3,
h4,
a,
p {
    margin: 0;
}

h1,
h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 120rem;
    padding: 0 1.31rem;
}

.header {
    background-color: #000;
}

.header a {
    color: #fff;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.10rem 0;
    text-transform: uppercase;
    font-size: 0.875rem;
}

// .logo,
// .account {
//     flex-grow: 1;
//     flex-basis: 0;
// }

.logo svg {
    width: 5.875rem;
}

.navigation {
    display: flex;
    gap: 1.75rem;
    font-weight: 600;
}

.navigation a {
    border-bottom: 0.13rem solid transparent;
    transition: border-color 0.3s;
    padding-bottom: 0.31rem;
}

.navigation a:hover {
    border-color: #EB5757;
}

.search {
    display: inherit;
    gap: 0.5rem;
}

.search svg {
    width: 1.063rem;
}

.account {
    display: flex;
}

.account svg {
    height: 1.375rem;
    margin-left: 1.25rem;
}

.cart {
    display: flex;
    gap: 0.69rem;
    align-items: center;
}

.cart-text {
    display: flex;
    flex-direction: column;
}

.cart-text span:nth-child(1) {
    font-family: Roboto Medium;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.0075rem;
}

.cart-price {
    font-size: 0.875rem;
    font-family: Roboto;
    letter-spacing: 0.01rem;
    font-weight: 700;
}

.banner {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 1.31rem;
}

.main-heading {
    padding: 12.75rem 0 12.75rem 14.62rem;
    font-weight: 600;
    line-height: 6rem;
    text-transform: uppercase;
    max-width: 47rem;
    font-size: 2.8rem;
}

.shop-btn {
    // display: inline-block;
    color: #000;
    font-size: 1.125rem;
    letter-spacing: 0.031rem;
    border: 0.125rem solid #000;
    padding: 0.8rem 2.8rem;
    text-transform: uppercase;
}

.brand-head {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 4.25rem;
    text-transform: uppercase;
}

.brands {
    padding: 0rem 0.7rem 3.69rem 0.7rem;
    display: flex;
    justify-content: space-between;
}

// .brand-border svg{
//     position: absolute;
// }
.brands a {
    width: 14.69rem;
    transition: 0.3s background-color;
}

.brands a:hover {
    background-color: #F0F2F2;
}

.offers {
    display: flex;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-card {
    display: flex;
    border-left: 1px solid #C4C4C4;
}

.shop-btn-center {
    display: flex;
    justify-content: center;
    margin: 3.94rem 0 3.92rem 0;
}

.seperator {
    background-image: url(/images/seperator\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.seperator-text {
    background: linear-gradient(90deg, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0.00) 100%);
    max-width: 50%;
}

.seperator-text {
    padding: 4.81rem 0 4.87rem 16.81rem;
}

.seperator2 {
    display: flex;
    gap: 5.8rem;
}

.seperator2-text {
    display: inherit;
    flex-direction: column;
    gap: 2rem;
}

.seperator2-text h2 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    border-top: 0.125rem solid #000;
    border-right: 0.125rem solid #000;
    padding: 1.31rem 3.06rem 0 0;
}

.seperator2-text p {
    font-family: Roboto Light;
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 2.3125rem;
    letter-spacing: 0.01563rem;
    padding-bottom: 1rem;
}