.benefits {
    background: #E6F1FA;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    font-size: 0.875rem;
    margin: 0 -1.31rem;

    svg {
        width: 1.875rem;
    }

    p {
        display: flex;
        align-items: center;
        gap: 0.87rem;
    }
}