.benefits {
    background: #E6F1FA;
    display: grid;
    justify-content: center;
    padding: 1.25rem 0;
    font-size: 0.875rem;
    margin: 0 -0.875rem;
    gap: 0.1875rem;

    @media(min-width:75rem) {
        display: flex;
        justify-content: space-evenly;
        margin: 0 -1.3125rem;
        padding: 2rem 0;
        gap: 0;
    }

    svg {
        max-width: 1.875rem;
    }

    p {
        display: flex;
        align-items: center;
        gap: 0.875rem;
    }
}