  .blog-wrapper {
      background: #F8F9FB;
      display: flex;
      flex-direction: column;
      padding: 0.3rem 1.31rem 1.3rem 1.31rem;
      margin: 0 -1.31rem;

      .blog {
          display: flex;
          justify-content: space-between;
      }

      h2 {
          font-weight: normal;
          text-transform: capitalize;
          font-size: 1.5rem;
          line-height: 3.7;
      }
  }