.brand-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.2rem;

    span {
        font-size: 1.5rem;
        line-height: 4rem;
        text-transform: uppercase;
    }

    .brands {
        display: flex;
        gap: 2.2rem;

        a {
            width: 14.69rem;
            transition: 0.3s background-color;
        }

        a:hover {
            background-color: #F0F2F2;
        }
    }
}
.brand-border {
    width: 117.375rem;
    z-index: -1;
    position: absolute;
    display: flex;
    padding-top: 2rem;
}