.header {
    background-color: $color-black;

    a {
        color: $color-white;
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.10rem 0;
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .logo,
    .account {
        flex-grow: 1;
        flex-basis: 0;
    }

    .logo svg {
        max-width: 5.875rem;
    }

    .navigation {
        display: flex;
        gap: 1.75rem;
        font-weight: 600;

        a {
            border-bottom: 0.125rem solid transparent;
            transition: border-color 0.3s;
            padding-bottom: 0.31rem;
        }

        a:hover {
            border-color: #EB5757;
        }
    }

    .search {
        display: inherit;
        gap: 0.5rem;

        svg {
            max-width: 1.063rem;
        }
    }

    .account {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg {
            max-width: 1.375rem;
            margin-left: 0.75rem;
        }

        a {
            padding-left: 0.75rem;
        }
    }

    .cart {
        display: flex;
        gap: 0.69rem;
        align-items: center;

        .cart-text {
            display: flex;
            flex-direction: column;

            .cart-title {
                font-family: Roboto;
                font-size: 0.75rem;
                letter-spacing: 0.0075rem;
                text-transform: capitalize;
            }

            .cart-price {
                font-size: 0.875rem;
                font-family: Roboto;
                letter-spacing: 0.01rem;
                font-weight: 700;
            }
        }
    }
}