.header {
    background-color: $color-black;
    position: sticky;
    top: 0;
    z-index: 10;

    a {
        color: $color-white;
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5625rem 0;
        text-transform: uppercase;
        font-size: 0.875rem;

        @media (min-width:75rem) {
            padding: 2.125rem 0;
        }
    }

    .burger-menu {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10;

        svg {
            max-width: 1.25rem;
        }

        @media (min-width: 75rem) {
            display: none;
        }
    }


    .logo,
    .account {
        flex-grow: 1;
        flex-basis: 0;
    }

    .logo {
        display: flex;
        justify-content: center;

        @media(min-width:75rem) {
            justify-content: flex-start;
        }

        svg {
            max-width: 4.13919rem;

            @media(min-width:75rem) {
                max-width: 5.875rem;
            }
        }
    }

    .navigation {
        position: fixed;
        display: flex;
        padding: 3rem 1rem;
        gap: 1.44rem;
        flex-direction: column;
        background: $color-black;
        max-width: 100%;
        inset: 0 0 0 -100%;
        transition: 0.5s inset;
        z-index: 5;
        font-size: 1.125rem;

        &.open-menu {
            display: flex;
            inset: 0;

        }

        @media (min-width: 75rem) {
            position: static;
            flex-direction: row;
            background: none;
            inset: 0;
            padding: 0;
            gap: 1.75rem;
            font-size: 0.875rem;
            font-weight: 600;

            &.open-menu {
                display: none;
            }

        }

        .search-bar {
            display: flex;
            align-items: center;
            justify-content: center;

            @media(min-width:75rem) {
                display: none;
            }

            .search-input {
                font-family: Roboto;
                font-size: 0.75rem;
                line-height: 1.25;
                padding: 0.78rem 0.88rem;
                border-radius: 0;
                border: none;
                flex: 1;
            }

            .search-btn {
                width: 5rem;
                height: 2.5rem;
                border-radius: 0;
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 0.03125rem;
                color: $color-medium-grey;

            }
        }

        a {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            @media(min-width: 75rem) {
                border-bottom: 0.125rem solid transparent;
                transition: border-color 0.3s;
                padding-bottom: 0.31rem;

                &:hover {
                    border-color: #EB5757;
                }
            }

            svg {
                width: 1.375rem;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                flex: none;

                @media(min-width:75rem) {
                    display: none;
                }
            }
        }

        .search {
            display: none;

            @media(min-width:75rem) {
                display: flex;
                gap: 0.5rem;

                svg {
                    position: static;
                    display: flex;
                    width: 1.063rem;
                    height: 1.063rem;
                    transform: none;
                }
            }
        }

    }

    .account {
        display: none;

        @media(min-width:75rem) {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            svg {
                max-width: 1.375rem;
                margin-left: 0.75rem;
            }

            a {
                padding-left: 0.75rem;
            }
        }
    }

    .cart {
        display: flex;
        gap: 0.69rem;
        align-items: center;

        .cart-text {
            display: flex;
            flex-direction: column;

            .cart-title {
                font-family: Roboto;
                font-size: 0.75rem;
                letter-spacing: 0.0075rem;
                text-transform: capitalize;
            }

            .cart-price {
                font-size: 0.875rem;
                font-family: Roboto;
                letter-spacing: 0.01rem;
                font-weight: 700;
            }
        }
    }
}