.load-more {
    display: flex;
    justify-content: center;
    border: 0.125rem solid #C4C4C4;
    padding: 1rem 1.7rem;
    color: #828282;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
    text-transform: uppercase;
    margin-top: 3.7rem;
    cursor: pointer;
}