@import"./base.scss";
@import "./colors.scss";
@import"./header.scss";
@import "./src/components/swiper.scss";
@import"./brands.scss";
@import"./offers.scss";
@import"./products.scss";
@import "./src/components/product-card.scss";
@import"./seperator.scss";
@import"./seperator2.scss";
@import"./specials.scss";
@import"./blog.scss";
@import "./src/components/articles.scss";
@import "./benefits.scss";
@import "./footer.scss";
@import "./shop-button";


//burger menu svg and text not aligned & svg on left, text centered
//swiper padding on sides 0 on mobile