.offers {
    display: flex;
    padding-bottom: 1.87rem;
    gap: 1.81rem;

    span {
        font-family: Roboto;
        font-weight: 300;
    }
    h2{
        line-height: 1.15;
    }
    .shop-btn {
        margin-top: 3.19rem;
    }

    .offer-left {
        display: flex;
        flex-direction: column;
        gap: 1.88rem;
        width: 50%;

        .offer-text {
            max-width: 24rem;

            h2 {
                font-size: 3rem;
            }

            span {
                font-size: 1.375rem;
                line-height: 2.4;
                letter-spacing: 0.01375rem;
            }
        }

        .offer1 {
            background-image: url(/images/offer1.webp);
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            padding: 5.3rem 3rem;

            h2 {
                max-width: 15rem;
            }
        }

        .offer2 {
            background-image: url(/images/offer2.webp);
            background-size: cover;
            padding: 6.9rem 5.81rem;
        }

    }

    .offer3 {
        background-image: url(/images/offer3.webp);
        background-size: cover;
        display: flex;
        align-items: flex-end;
        width: 50%;

        .offer-text {
            padding: 6rem 5.37rem;
            max-width: 36rem;

            h2 {
                font-size: 6rem;
            }

            span {
                font-size: 1.5625rem;
                line-height: 1.9;
                letter-spacing: 0.01563rem;
            }
        }
    }
}