.products-wrapper {
    display: flex;
    justify-content: space-between;

    .products-sorter {
        max-width: 24.5rem;
        flex: 1;
        flex-wrap: wrap;

        span {
            font-size: 1.5rem;
            line-height: 3.8rem;
        }

        .checkbox {
            font-family: Roboto;
            font-size: 0.875rem;
            line-height: 2.7rem;
            text-transform: uppercase;

            input {
                width: 0.7rem;
            }
        }
    }

    .product-card-wrap {
        border-left: 0.063rem solid #C4C4C4;
        padding-left: 1.87rem;
        flex: 1;

        .product-card {
            display: flex;
            flex-wrap: wrap;
            column-gap: 1.62rem;
            row-gap: 2.7rem;
        }

        .load-more {
            display: block;
            margin: 3.7rem auto;
            max-width: fit-content;
            border: 0.125rem solid #C4C4C4;
            padding: 0.8rem 2.2rem;
            color: #828282;
            background-color: white;
            font-size: 0.875rem;
            font-weight: 500;
            letter-spacing: 0.03125rem;
            text-transform: uppercase;
            cursor: pointer;
        }
    }


}