.seperator {
    background-image: url(/images/seperator1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem 0 2.6rem 0;

    .seperator-text {
        background: linear-gradient(90deg, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0.00) 100%);
        max-width: 50%;
        padding: 4.81rem 0 4.87rem 16.81rem;

        h2 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 4.5rem;
            padding-bottom: 1.06rem;
        }

        p {
            font-family: Roboto;
            font-size: 1.5625rem;
            font-weight: 400;
            line-height: 2.3125rem;
            letter-spacing: 0.01563rem;
            padding-bottom: 3.5rem;
        }
    }
}