.seperator2 {
    display: flex;
    gap: 5.8rem;
    padding: 7rem 0 5.5rem 0;

    .seperator2-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 4.5rem;
            padding-top: 1.8rem;
            position: relative;
            svg {
                position: absolute;
                width: 39.188rem;
                inset: 5% 2%;
            }
        }

        p {
            font-family: Roboto;
            font-weight: 300;
            font-size: 1.5625rem;
            line-height: 2.3125rem;
            letter-spacing: 0.01563rem;
        }
    }
}