.seperator2 {
    display: flex;
    position: relative;
    gap: 5.8125rem;
    justify-content: center;

    @media (min-width:75rem) {
        justify-content: flex-start;
        padding: 7rem 0 5.5rem 0;
    }

    img {
        min-height: 15.75rem;
        min-width: 18.25rem;
        object-fit: cover;
        display: flex;
    }

    .seperator2-text {
        position: absolute;
        background: #fff;
        border: 0.125rem solid $border-light;
        margin: 0.75rem;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        justify-content: center;
        text-align: center;

        @media(min-width: 75rem) {
            position: static;
            gap: 1.875rem;
            max-width: 40rem;
            margin: 0;
            border: none;
            align-self: baseline;
            text-align: justify;
        }

        h2 {
            font-size: 0.875rem;
            font-weight: 500;
            padding: 0.8125rem 0 0.625rem 0;

            svg {
                display: none;
            }

            @media(min-width: 75rem) {
                font-size: 3.5rem;
                padding: 0.8125rem 0 0 0;
                position: relative;

                svg {
                    display: flex;
                    position: absolute;
                    max-width: 39.1875rem;
                    inset: -3% 2%;
                }
            }
        }

        p {
            font-family: Roboto;
            font-weight: 300;
            font-size: 0.625rem;
            letter-spacing: 0.00625rem;
            padding: 0 1.25rem;

            @media(min-width: 75rem) {
                font-size: 1.5625rem;
                line-height: 1.5;
                letter-spacing: 0.01563rem;
                padding: 0;
            }
        }

        .shop-btn {
            margin: 0.625rem auto;

            @media(min-width:75rem) {
                margin: 0;
            }
        }
    }
}