.seperator2 {
    display: flex;
    gap: 5.8rem;
    padding: 7rem 0 5.5rem 0;

    .seperator2-text {
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
        max-width: 40rem;
        padding-left: 0.3rem;
        h2 {
            font-size: 3.5rem;
            font-weight: 500;
            padding-top: 0.8rem;
            position: relative;
            svg {
                position: absolute;
                max-width: 39.188rem;
                inset: -3% 2%;
            }
        }

        p {
            font-family: Roboto;
            font-weight: 300;
            font-size: 1.5625rem;
            line-height: 1.5;
            letter-spacing: 0.01563rem;
        }
    }
}