.seperator {
    background-image: url(/images/seperator1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.6rem;

    .seperator-text {
        background: linear-gradient(90deg, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0.00) 100%);
        max-width: 50%;
        padding: 4.81rem 0 4.87rem 16.81rem;


        h2 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1;
            padding: 1.5rem 0 1.7rem 0;
            position: relative;

            svg {
                position: absolute;
                max-width: 37.688rem;
                inset: 5%;
            }
        }

        p {
            font-family: Roboto;
            font-size: 1.5625rem;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.01563rem;
            padding-bottom: 2.3rem;
            max-width: 40rem;
        }
    }
}