.seperator2 {
    display: flex;
    gap: 5.8rem;
    padding: 7rem 0 5rem 0;

    .seperator2-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 4.5rem;
            border-top: 0.125rem solid #000;
            border-right: 0.125rem solid #000;
            padding: 1.31rem 3.06rem 0 0;
        }

        p {
            font-family: Roboto;
            font-weight: 300;
            font-size: 1.5625rem;
            line-height: 2.3125rem;
            letter-spacing: 0.01563rem;
            padding-bottom: 1rem;
        }
    }
}