.shop-btn {
    display: inline-block;
    color: $color-black;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.031rem;
    line-height: 1;
    border: 0.125rem solid $color-black;
    padding: 1rem 2.8rem;
    text-transform: uppercase;
    width: fit-content;
}