.specials-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;

    .featured,
    .most-popular {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1.5rem;
            line-height: 4;
        }

        .product-card {
            display: flex;
            justify-content: space-between;
        }
    }
}